/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/home/footer/footer.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.text-700 {
  color: #767c8c !important;
}

.text-lg-left {
  text-align: left !important;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.text-success {
  color: #00c9a7 !important;
}

.font-weight-bold {
  font-weight: 700 !important;
}

h5 {
  font-size: 1.25rem;
  margin: 0 0 8px;
  padding-left: 16px;
}

.fs-0 {
  font-size: 0.875rem;
}

.nav-link {
  font-size: 14px;
}

.special-offer {
  margin-bottom: 0.5rem;
  font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 500;
  line-height: 1.2;
  color: #585e6e;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #585e6e;
  font-size: 14px;
}

.btn-success {
  color: #fff;
  background-color: #00c9a7;
  border-color: #00c9a7;
}

.btn-success:hover {
  color: #fff;
  background-color: #00a387;
  border-color: #00967d;
}

.input-group .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.form-control {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

@media (min-width: 992px) {
  section {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

