@import "tailwindcss";

/* Force class-based dark mode */
@custom-variant dark (&:where(.dark, .dark *));

/* Falling animation */
/* @keyframes falling {
    from {
        transform: translateY(-10vh);
    }

    to {
        transform: translateY(110vh);
    }
} */
@keyframes falling {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(120vh);
    }
}

@keyframes twinkle {

    0%,
    100% {
        opacity: 0.3;
    }

    50% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.animate-fadeIn {
    animation: fadeIn 1s ease;
}

@keyframes shoot {
    0% {
        transform: translateX(-10vw) translateY(0) rotate(25deg);
        opacity: 1;
    }

    100% {
        transform: translateX(120vw) translateY(60vh) rotate(25deg);
        opacity: 0;
    }
}